<nav class="nav-sidebar">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                <span class="nav-icon">🏠</span> Home
            </NavLink>
        </li>
        <li>
            <NavLink href="/events">
                <span class="nav-icon">📅</span> Events
            </NavLink>
        </li>
        <li>
            <NavLink href="/register/Tech-Conference-2025">
                <span class="nav-icon">📝</span> Register
            </NavLink>
        </li>
    </ul>
</nav>